<%- include('partials/head') %>
<%- include('partials/header')%>
<main class="container">
    <main class="container">
        <div class="row card">
                <% data.map(function(el) { %>
                    <div class="card-body">
                        <a class="card-title" href=<%= '/poll/' + el.poll_slug %>><%= el.poll_name %></a></div>
                    <ul class="card-body">
                        <% JSON.parse(el.options).map(function(option) { %>
                            <li class="list-group-item"><%= option %></li>
                        <% }) %>
                   </ul>
                <% }) %>
            </ul>
        </div>
    </main>
</main>
<%- include('partials/footer')%>
