<%- include('partials/head') %>
<%- include('partials/header')%>
<main class="container">
    <h6 name="pollName" id="poll-name" type="text"><%= data[0][0].poll_name %></h6>
    <form action="/poll/vote/<%= data[0][0].poll_slug %>" method="POST">
        <% if(data[0][0].poll_type === 'One') { %>
            <% data[1].map(function(el) {%>
                <div class="custom-control custom-radio">
                    <input id="<%= el.option_name %>" data-option="option" class="custom-control-input" type="radio" name="option" value="<%= el.option_name %>" />
                    <label for="<%= el.option_name %>" class="custom-control-label"><%= el.option_name %></label>   
                </div>
            <% }) %>
       <% } %>
        <% if(data[0][0].poll_type === 'Many') { %>
            <% data[1].map(function(el) {%>
                <div class="form-group form-check">
                   <input data-option="option" class="form-check-input" type="checkbox" name="option" value="<%= el.option_name %>" />
                   <label class="form-check-label"><%= el.option_name %></label>    
                </div>
            <% }) %>
         <% } %>
        <input class="btn btn-lg btn-success" type="submit" value="Submit" />
    </form>
</main> 
<%- include('partials/footer')%>