<%- include('partials/head.ejs')%>
<main class="container">
    <%- include('partials/nav')%>
<ul class="row list-group">
<% data.map(function(el) { %>
    <li class="list-group-item"><a href=<%= path + el.poll_slug %>><%= el.poll_name %></a></li>
<% }) %>
</ul>
<%- include('partials/footer.ejs')%>
</main>